
#h2{
	text-align: center;
	font-size: 40px;
	color: red;
	transition: all 0.5s ease;
}
#h2:hover {
	font-size: 50px;
	color: pink;	
}
#h3 {
	text-align: center;
	font-size: 20px;
	color: #0D903D;

}
.div01 {
	background: #E68B14;
	font-size: 18px;
	color: #AFA125;
}
