
#h1 { 
	background: #457209;
	color: #FFCC99;


}

#h2 {
	text-align: center;
	font-size: 40px;
	color: red;
	transition: all 2s ease;
}
#h2:hover {
	font-size: 50px;
	color: pink;	
}
#h3 {
	text-align: center;
	font-size: 35px;
	color: #0D903D;

}
.div01 {
	background: #E68B14;
	font-size: 25px;
	color: #AFA125;
	text-align: center;

}

@media (min-width: ) {

}
